<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.actor.develop_helper">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <!--查找所有已安装应用-->
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />
    <uses-permission android:name="com.android.permission.GET_INSTALLED_APPS" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="false"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">
        <activity
            android:name=".activity.FileRenameActivity"
            android:exported="false" />
        <activity
            android:name=".activity.Point1ApkInstallActivity"
            android:exported="true"
            android:label="点我直接安装Apk!!!">

            <!-- DevelopHelper示例 -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" />
                <data android:scheme="content" />
                <!--
                    1.文件
                      xxx.apk.1                         ①
                      xxx.apk.1.1                       ②
                      xxx.apk.1(1).2.2.1.1, 即以.1结尾   ③
                -->
                <!-- 匹配: ① -->
                <data android:mimeType="application/apk.1" />
                <!-- 匹配: 有时候匹配群聊的②,wx像智障一样气死个人 -->
                <data android:mimeType="application/apk.1.1" />
                <!-- 匹配: 单/群聊的②,③ -->
                <data android:mimeType="application/1" />
                <!-- 下面一行皮配不上 -->
                <!-- <data android:mimeType="application/1(*)" /> -->
                <!-- ??? -->
                <!-- <data android:mimeType="*/1" /> -->
                <!-- <data android:mimeType="*/apk.1"/> -->
                <!-- <data android:mimeType="*/apk.1.1"/> -->


                <!--
                <data
                    android:host="*"                        在这儿可加可不加
                    android:mimeType="*/*"                  加上的话, 匹配任何文件.
                    android:pathPattern=".*\\.apk\\.1.*"    地址匹配不起, 原因未知
                    />
                -->
            </intent-filter>
        </activity>
        <activity android:name=".activity.AnimatorPathActivity" />
        <activity android:name=".activity.AnimatorActivity" />
        <activity android:name=".activity.AnimationDrawableActivity" />
        <activity android:name=".activity.AnimationsActivity" />
        <activity android:name=".activity.AnimationActivity" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.GithubHostActivity" />
        <activity android:name=".activity.AppInfoActivity" />
        <activity android:name=".activity.ViewSystemIconActivity" />
        <activity
            android:name=".activity.CalculateConstrailtLayoutActivity"
            android:label="计算约束布局偏移率bias" />
        <activity android:name=".activity.GlideExampleActivity" />
        <activity android:name=".activity.ExpandableItemActivity" />
        <activity android:name=".activity.CanvasDrawActivity" />
        <activity android:name=".activity.EncryptActivity" />

        <service
            android:name=".service.ViewPackageAndClassNameService"
            android:exported="false"
            android:label="@string/accessibility_service_label"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:priority="2147483647">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <!-- 从Android 4.0开始,可以包括一个 <meta-data>元素 -->
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>
    </application>

</manifest>