<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.actor.cpptest">

    <application android:supportsRtl="true">
        <activity android:name=".activity.CCallJavaActivity" />
        <activity android:name=".activity.PlasmaActivity" />

    </application>
</manifest>