<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.develophelper.android5">


    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activity.Android5MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />

        <activity
            android:name=".activity.TransitionsActivity"
            android:configChanges="orientation|keyboardHidden" />

        <activity
            android:name=".activity.ExplodeActivity"
            android:configChanges="orientation|keyboardHidden" />

        <activity
            android:name=".activity.FadeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="fade">

            <intent-filter>
                <!--其它程序打开这个activity:intent.setAction("com.google.sample.fade");-->
                <action android:name="com.google.sample.fade" />

                <!--如果清单文件有,代码必须写intent.setData(Uri.parse("callPhone://110")),否则报错如下↓-->
                <data android:scheme="callPhone" />

                <!--这句必写,否则报错ActivityNotFoundException-->
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.SlideActivity"
            android:configChanges="orientation|keyboardHidden" />
        <activity
            android:name=".activity.ShareActivity"
            android:configChanges="orientation|keyboardHidden" />

        <activity
            android:name=".activity.WidgetActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/WidgetTheme" />
    </application>
</manifest>